In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [8]:
import webbrowser
website='https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records'
webbrowser.open(website)

True

In [9]:
nfl_frame=pd.read_clipboard()

C:\Users\DELL\Miniconda3\lib\site-packages\pandas\io\clipboards.py:63: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return read_table(StringIO(text), sep=sep, **kwargs)

In [10]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East
5,6,Minnesota Vikings,886,478,397,11,0.546,1961,NFC North
6,7,Baltimore Ravens,368,200,167,1,0.545,1996,AFC North
7,8,New York Giants,"1,321",692,596,33,0.536,1925,NFC East
8,9,Denver Broncos,900,476,414,10,0.534,1960,AFC West
9,10,San Francisco 49ers,"1,018",532,472,14,0.529,1950,NFC West
10,11,Indianapolis Colts[c],982,516,459,7,0.529,1953,AFC South
11,12,Pittsburgh Steelers,"1,208",628,558,22,0.529,1933,AFC North
12,13,Kansas City Chiefs,900,469,419,12,0.528,1960,AFC West
13,14,Oakland Raiders,900,466,423,11,0.524,1960,AFC West
14,15,Seattle Seahawks,676,344,331,1,0.510,1976,NFC West
15,16,Washington Redskins,"1,218",600,590,28,0.504,1932,NFC East
16,17,Los Angeles Chargers[d],900,447,442,11,0.503,1960,AFC West
17,18,Los Angeles Rams,"1,151",568,562,21,0.503,1937,NFC West
18,19,Carolina Panthers,384,190,193,1,0.496,1995,NFC South
19,20,Philadelphia Eagles,"1,204",577,601,26,0.490,1933,NFC East
20,21,Cleveland Browns,970,469,490,11,0.489,1950,AFC North
21,22,Tennessee Titans,900,431,463,6,0.482,1960,AFC South
22,23,Buffalo Bills,900,415,477,8,0.466,1960,AFC East
23,24,Detroit Lions,"1,249",559,658,32,0.460,1930,NFC North
24,25,Cincinnati Bengals,788,357,427,4,0.456,1968,AFC North
25,26,New Orleans Saints,802,362,435,5,0.454,1967,NFC South
26,27,New York Jets,900,401,491,8,0.450,1960,AFC East
27,28,Houston Texans,272,121,151,0,0.445,2002,AFC South
28,29,Jacksonville Jaguars,384,170,214,0,0.443,1995,AFC South
29,30,Atlanta Falcons,816,358,452,6,0.442,1966,NFC South
30,31,Arizona Cardinals,"1,346",553,753,40,0.426,1920,NFC West
31,32,Tampa Bay Buccaneers,676,260,415,1,0.385,1976,NFC South

In [11]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Division'],
      dtype='object')

In [12]:
nfl_frame['Team']

0              Dallas Cowboys
1               Chicago Bears
2           Green Bay Packers
3     New England Patriots[b]
4              Miami Dolphins
5           Minnesota Vikings
6            Baltimore Ravens
7             New York Giants
8              Denver Broncos
9         San Francisco 49ers
10      Indianapolis Colts[c]
11        Pittsburgh Steelers
12         Kansas City Chiefs
13            Oakland Raiders
14           Seattle Seahawks
15        Washington Redskins
16    Los Angeles Chargers[d]
17           Los Angeles Rams
18          Carolina Panthers
19        Philadelphia Eagles
20           Cleveland Browns
21           Tennessee Titans
22              Buffalo Bills
23              Detroit Lions
24         Cincinnati Bengals
25         New Orleans Saints
26              New York Jets
27             Houston Texans
28       Jacksonville Jaguars
29            Atlanta Falcons
30          Arizona Cardinals
31       Tampa Bay Buccaneers
Name: Team, dtype: object

In [13]:
nfl_frame.Team

0              Dallas Cowboys
1               Chicago Bears
2           Green Bay Packers
3     New England Patriots[b]
4              Miami Dolphins
5           Minnesota Vikings
6            Baltimore Ravens
7             New York Giants
8              Denver Broncos
9         San Francisco 49ers
10      Indianapolis Colts[c]
11        Pittsburgh Steelers
12         Kansas City Chiefs
13            Oakland Raiders
14           Seattle Seahawks
15        Washington Redskins
16    Los Angeles Chargers[d]
17           Los Angeles Rams
18          Carolina Panthers
19        Philadelphia Eagles
20           Cleveland Browns
21           Tennessee Titans
22              Buffalo Bills
23              Detroit Lions
24         Cincinnati Bengals
25         New Orleans Saints
26              New York Jets
27             Houston Texans
28       Jacksonville Jaguars
29            Atlanta Falcons
30          Arizona Cardinals
31       Tampa Bay Buccaneers
Name: Team, dtype: object

In [14]:
DataFrame(nfl_frame,columns=['Team','GP','First NFL Season'])

                       Team     GP  First NFL Season
0            Dallas Cowboys    898              1960
1             Chicago Bears  1,386              1920
2         Green Bay Packers  1,352              1921
3   New England Patriots[b]    900              1960
4            Miami Dolphins    816              1966
5         Minnesota Vikings    886              1961
6          Baltimore Ravens    368              1996
7           New York Giants  1,321              1925
8            Denver Broncos    900              1960
9       San Francisco 49ers  1,018              1950
10    Indianapolis Colts[c]    982              1953
11      Pittsburgh Steelers  1,208              1933
12       Kansas City Chiefs    900              1960
13          Oakland Raiders    900              1960
14         Seattle Seahawks    676              1976
15      Washington Redskins  1,218              1932
16  Los Angeles Chargers[d]    900              1960
17         Los Angeles Rams  1,151              1937
18        Carolina Panthers    384              1995
19      Philadelphia Eagles  1,204              1933
20         Cleveland Browns    970              1950
21         Tennessee Titans    900              1960
22            Buffalo Bills    900              1960
23            Detroit Lions  1,249              1930
24       Cincinnati Bengals    788              1968
25       New Orleans Saints    802              1967
26            New York Jets    900              1960
27           Houston Texans    272              2002
28     Jacksonville Jaguars    384              1995
29          Atlanta Falcons    816              1966
30        Arizona Cardinals  1,346              1920
31     Tampa Bay Buccaneers    676              1976

In [15]:
nfl_frame.head(3)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North

In [17]:
nfl_frame.tail(6)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
26,27,New York Jets,900,401,491,8,0.450,1960,AFC East
27,28,Houston Texans,272,121,151,0,0.445,2002,AFC South
28,29,Jacksonville Jaguars,384,170,214,0,0.443,1995,AFC South
29,30,Atlanta Falcons,816,358,452,6,0.442,1966,NFC South
30,31,Arizona Cardinals,"1,346",553,753,40,0.426,1920,NFC West
31,32,Tampa Bay Buccaneers,676,260,415,1,0.385,1976,NFC South

In [23]:
nfl_frame.ix[:3,:5]

C:\Users\DELL\Miniconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

   Rank                     Team     GP  Won  Lost
0     1           Dallas Cowboys    898  512   380
1     2            Chicago Bears  1,386  761   583
2     3        Green Bay Packers  1,352  743   571
3     4  New England Patriots[b]    900  500   391

In [26]:
chikita=DataFrame(nfl_frame,columns=['Team','GP','First NFL Season','Stadium'])
chikita

                       Team     GP  First NFL Season  Stadium
0            Dallas Cowboys    898              1960      NaN
1             Chicago Bears  1,386              1920      NaN
2         Green Bay Packers  1,352              1921      NaN
3   New England Patriots[b]    900              1960      NaN
4            Miami Dolphins    816              1966      NaN
5         Minnesota Vikings    886              1961      NaN
6          Baltimore Ravens    368              1996      NaN
7           New York Giants  1,321              1925      NaN
8            Denver Broncos    900              1960      NaN
9       San Francisco 49ers  1,018              1950      NaN
10    Indianapolis Colts[c]    982              1953      NaN
11      Pittsburgh Steelers  1,208              1933      NaN
12       Kansas City Chiefs    900              1960      NaN
13          Oakland Raiders    900              1960      NaN
14         Seattle Seahawks    676              1976      NaN
15      Washington Redskins  1,218              1932      NaN
16  Los Angeles Chargers[d]    900              1960      NaN
17         Los Angeles Rams  1,151              1937      NaN
18        Carolina Panthers    384              1995      NaN
19      Philadelphia Eagles  1,204              1933      NaN
20         Cleveland Browns    970              1950      NaN
21         Tennessee Titans    900              1960      NaN
22            Buffalo Bills    900              1960      NaN
23            Detroit Lions  1,249              1930      NaN
24       Cincinnati Bengals    788              1968      NaN
25       New Orleans Saints    802              1967      NaN
26            New York Jets    900              1960      NaN
27           Houston Texans    272              2002      NaN
28     Jacksonville Jaguars    384              1995      NaN
29          Atlanta Falcons    816              1966      NaN
30        Arizona Cardinals  1,346              1920      NaN
31     Tampa Bay Buccaneers    676              1976      NaN

In [32]:
chikita.shape[0]

32

SyntaxError: EOL while scanning string literal (<ipython-input-46-cec131bc835d>, line 4)

In [22]:
nfl_frame['Stadium']="Soldier's field"
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,882,502,374,6,0.573,1960,NFC East,Soldier's field
1,2,Green Bay Packers,"1,336",737,562,37,0.565,1921,NFC North,Soldier's field
2,3,Chicago Bears,"1,370",749,579,42,0.562,1920,NFC North,Soldier's field
3,4,Miami Dolphins,800,445,351,4,0.559,1966,AFC East,Soldier's field
4,5,New England Patriots[b],884,489,386,9,0.558,1960,AFC East,Soldier's field
5,6,Minnesota Vikings,870,470,390,10,0.546,1961,NFC North,Soldier's field
6,7,Baltimore Ravens,352,190,161,1,0.541,1996,AFC North,Soldier's field

In [24]:
nfl_frame['Stadium']=np.arange(7)
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,882,502,374,6,0.573,1960,NFC East,0
1,2,Green Bay Packers,"1,336",737,562,37,0.565,1921,NFC North,1
2,3,Chicago Bears,"1,370",749,579,42,0.562,1920,NFC North,2
3,4,Miami Dolphins,800,445,351,4,0.559,1966,AFC East,3
4,5,New England Patriots[b],884,489,386,9,0.558,1960,AFC East,4
5,6,Minnesota Vikings,870,470,390,10,0.546,1961,NFC North,5
6,7,Baltimore Ravens,352,190,161,1,0.541,1996,AFC North,6

In [49]:
stadiums=Series(["Soldier's field", 'AT&T stadium','Levis stadium'], index=[6,3,0])
stadiums

6    Soldier's field
3       AT&T stadium
0      Levis stadium
dtype: object

In [60]:
stadiums2=stadiums.reindex(range(32),fill_value='stadion nieznany')
stadiums2

0        Levis stadium
1     stadion nieznany
2     stadion nieznany
3         AT&T stadium
4     stadion nieznany
5     stadion nieznany
6      Soldier's field
7     stadion nieznany
8     stadion nieznany
9     stadion nieznany
10    stadion nieznany
11    stadion nieznany
12    stadion nieznany
13    stadion nieznany
14    stadion nieznany
15    stadion nieznany
16    stadion nieznany
17    stadion nieznany
18    stadion nieznany
19    stadion nieznany
20    stadion nieznany
21    stadion nieznany
22    stadion nieznany
23    stadion nieznany
24    stadion nieznany
25    stadion nieznany
26    stadion nieznany
27    stadion nieznany
28    stadion nieznany
29    stadion nieznany
30    stadion nieznany
31    stadion nieznany
dtype: object

In [61]:
nfl_frame['Stadium']=stadiums2
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East,Levis stadium
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North,stadion nieznany
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North,stadion nieznany
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East,AT&T stadium
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East,stadion nieznany
5,6,Minnesota Vikings,886,478,397,11,0.546,1961,NFC North,stadion nieznany
6,7,Baltimore Ravens,368,200,167,1,0.545,1996,AFC North,Soldier's field
7,8,New York Giants,"1,321",692,596,33,0.536,1925,NFC East,stadion nieznany
8,9,Denver Broncos,900,476,414,10,0.534,1960,AFC West,stadion nieznany
9,10,San Francisco 49ers,"1,018",532,472,14,0.529,1950,NFC West,stadion nieznany
10,11,Indianapolis Colts[c],982,516,459,7,0.529,1953,AFC South,stadion nieznany
11,12,Pittsburgh Steelers,"1,208",628,558,22,0.529,1933,AFC North,stadion nieznany
12,13,Kansas City Chiefs,900,469,419,12,0.528,1960,AFC West,stadion nieznany
13,14,Oakland Raiders,900,466,423,11,0.524,1960,AFC West,stadion nieznany
14,15,Seattle Seahawks,676,344,331,1,0.510,1976,NFC West,stadion nieznany
15,16,Washington Redskins,"1,218",600,590,28,0.504,1932,NFC East,stadion nieznany
16,17,Los Angeles Chargers[d],900,447,442,11,0.503,1960,AFC West,stadion nieznany
17,18,Los Angeles Rams,"1,151",568,562,21,0.503,1937,NFC West,stadion nieznany
18,19,Carolina Panthers,384,190,193,1,0.496,1995,NFC South,stadion nieznany
19,20,Philadelphia Eagles,"1,204",577,601,26,0.490,1933,NFC East,stadion nieznany
20,21,Cleveland Browns,970,469,490,11,0.489,1950,AFC North,stadion nieznany
21,22,Tennessee Titans,900,431,463,6,0.482,1960,AFC South,stadion nieznany
22,23,Buffalo Bills,900,415,477,8,0.466,1960,AFC East,stadion nieznany
23,24,Detroit Lions,"1,249",559,658,32,0.460,1930,NFC North,stadion nieznany
24,25,Cincinnati Bengals,788,357,427,4,0.456,1968,AFC North,stadion nieznany
25,26,New Orleans Saints,802,362,435,5,0.454,1967,NFC South,stadion nieznany
26,27,New York Jets,900,401,491,8,0.450,1960,AFC East,stadion nieznany
27,28,Houston Texans,272,121,151,0,0.445,2002,AFC South,stadion nieznany
28,29,Jacksonville Jaguars,384,170,214,0,0.443,1995,AFC South,stadion nieznany
29,30,Atlanta Falcons,816,358,452,6,0.442,1966,NFC South,stadion nieznany
30,31,Arizona Cardinals,"1,346",553,753,40,0.426,1920,NFC West,stadion nieznany
31,32,Tampa Bay Buccaneers,676,260,415,1,0.385,1976,NFC South,stadion nieznany

In [29]:
del nfl_frame['Stadium']
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,882,502,374,6,0.573,1960,NFC East
1,2,Green Bay Packers,"1,336",737,562,37,0.565,1921,NFC North
2,3,Chicago Bears,"1,370",749,579,42,0.562,1920,NFC North
3,4,Miami Dolphins,800,445,351,4,0.559,1966,AFC East
4,5,New England Patriots[b],884,489,386,9,0.558,1960,AFC East
5,6,Minnesota Vikings,870,470,390,10,0.546,1961,NFC North
6,7,Baltimore Ravens,352,190,161,1,0.541,1996,AFC North

In [30]:
data={'City':['LA','SF','NYC'],'Population':[3.8,0.5,8.5]}

In [31]:
city_frame=DataFrame(data)
city_frame

  City  Population
0   LA         3.8
1   SF         0.5
2  NYC         8.5

In [30]:
from random import *
DataFrame(np.random.randint(low=0, high=10, size=(6,6)), columns=['a','b','c','d','e','f'])

   a  b  c  d  e  f
0  5  5  0  9  0  1
1  5  3  9  3  4  7
2  5  2  7  3  5  4
3  7  7  0  5  2  6
4  3  2  7  9  0  2
5  7  6  6  5  5  6

   a  b  c  d  e  f
0  7  9  2  9  6  2
1  5  7  1  3  5  9
2  1  9  3  9  8  8
3  2  9  7  9  4  3
4  8  5  2  8  4  4
5  8  9  4  0  6  3

In [64]:
numbers=DataFrame(np.random.randint(low=0,high=100,size=(10,10)),columns=['a','b','c','d','e','f','g','h','i','j'])
numbers

    a   b   c   d   e   f   g   h   i   j
0  19  83  20  40  49  41  29  66  18  35
1  18   4  19  97  36  78  86  12  76  52
2  72  93  93  56   2   4  41  93  90  95
3  83  12  83  37   5  47  87  56  10  54
4  23  71  20  73  63  84  24   6   3  55
5  53  73  90  93  34  37  66  70  51  66
6  64  76  32  84  82  65   3  13  17  56
7  39  50  72  66  16  18  81  70  77  35
8   1  58   6  19  16  21  79   0  37  16
9  26  82   3  36  12  15  47  88  17  96

In [66]:
numbers2=numbers.reindex([10,11,12,13,14,15,16,17,18,19,20],fill_value=0)
numbers2

    a  b  c  d  e  f  g  h  i  j
10  0  0  0  0  0  0  0  0  0  0
11  0  0  0  0  0  0  0  0  0  0
12  0  0  0  0  0  0  0  0  0  0
13  0  0  0  0  0  0  0  0  0  0
14  0  0  0  0  0  0  0  0  0  0
15  0  0  0  0  0  0  0  0  0  0
16  0  0  0  0  0  0  0  0  0  0
17  0  0  0  0  0  0  0  0  0  0
18  0  0  0  0  0  0  0  0  0  0
19  0  0  0  0  0  0  0  0  0  0
20  0  0  0  0  0  0  0  0  0  0

In [68]:
numbers2['e']=1
numbers2.ix[20]=1
numbers2

C:\Users\DELL\Miniconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

    a  b  c  d  e  f  g  h  i  j
10  0  0  0  0  1  0  0  0  0  0
11  0  0  0  0  1  0  0  0  0  0
12  0  0  0  0  1  0  0  0  0  0
13  0  0  0  0  1  0  0  0  0  0
14  0  0  0  0  1  0  0  0  0  0
15  0  0  0  0  1  0  0  0  0  0
16  0  0  0  0  1  0  0  0  0  0
17  0  0  0  0  1  0  0  0  0  0
18  0  0  0  0  1  0  0  0  0  0
19  0  0  0  0  1  0  0  0  0  0
20  1  1  1  1  1  1  1  1  1  1